<%= form_with(model: webinars_position, local: true) do |form| %>
  <% if webinars_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(webinars_position.errors.count, "error") %> prohibited this webinars_position from being saved:</h2>

      <ul>
        <% webinars_position.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
